# ==========================================
# Python Environment & Caches
# ==========================================
venv/
.venv/
__pycache__/
*.pyc

# ==========================================
# Operating System Junk
# ==========================================
.DS_Store
Thumbs.db


# ==========================================
# VS Code Settings
# ==========================================
.vscode/
